$color-blue-dark: #3b5998;
$color-blue-light: #8b9dc3;
$color-light: #dfe3ee;
$color-extra-extra-light: #f7f7f7;
$color-white: #ffffff;

@mixin borderRadiusDiv($radius: 5px) {
	border-radius: $radius;
}

.large-font {
	font-size: 1.5em;
	color: $color-blue-dark;
}

.middle-font {
	font-size: 14px;
	color: $color-blue-light;
}

.small-font {
	font-size: 70%;
	color: $color-blue-dark;
}

div#aboutus > p:first-letter {
	font-size: 2em;
	color: $color-blue-light;
}

div#poslugy ul > li {
	color: $color-blue-light;
	background-color: $color-blue-dark;
}

div#poslugyDet dt {
	color: $color-light;
	background: $color-blue-dark;
}

div#poslugyDet dd {
	color: lightblue;
	background-color: $color-blue-dark;
}

div#organy a {
	color: rgba($color-blue-dark, .8);
}

div#organy a[href*="gov.ua"] {
	font-weight: bold;
	color: $color-blue-dark;
}

* {
	margin: 2px;
}

h3 {
	color: $color-extra-extra-light;
	background-color: $color-blue-dark;
}

nav li a {
	font-size: 1.2em;
	color: $color-blue-dark;

	&:hover {
		font-weight: 500;
		text-decoration: underline;
		color: $color-extra-extra-light;
		background: $color-blue-dark;

	}

	&:visited {
		color: $color-blue-light;
	}
}

div#finance table td {
	background: #c8c8c8;
}

div#finance table th {
	background: $color-light;
}

div#zamovnyky {
	border: 1px solid #000000;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/*Three column layout*/
.col-3 {
	margin: 0;
	float: left;
	width: 33.33%;
}

/*Two column layout*/
.col-2 {
	margin: 0;
	float: left;
	width: 50%;
}

@media screen and (max-width: 991px) {
	.col-3 {
		width: 50%;
	}
}

@media screen and (max-width: 550px) {
	.col-3 {
		width: 100%;
	}

	.col-2 {
		width: 100%;
	}
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

#firstDiv {
	margin: 2px;
	padding: 2px;
	border: 1px solid black;
	overflow-y: scroll;
	max-height: 200px
}

#secondDiv {
	margin: 1px;
	padding: 1px;
	border: 2px dotted $color-blue-light;
	background: url("https://p.bigstockphoto.com/GeFvQkBbSLaMdpKXF1Zv_bigstock-Aerial-View-Of-Blue-Lakes-And--227291596.jpg") center fixed no-repeat;
	background-size: 100%;
}

#thirdDiv {
	margin: 0;
	padding: 0;
	border: 3px dashed $color-blue-dark;
	column-count: 4;
	column-gap: 20px;
	text-align: justify;
}

#fourthDiv {
	width: 100vw;
	margin: 3px;
	padding: 5px;
	border: 5px groove $color-blue-dark;
	max-width: 60%;
	font-family: 'Montserrat Subrayada', sans-serif;
}

#h3shadowed {
	text-shadow: $color-blue-dark 1px 0 10px;
	background: none;
	margin: 40px;
	color: black;
}

#alignedImage {
	width: 300px;
	height: auto;
	float: left;
}

#saveBtn:disabled {
	color: $color-blue-dark;
	background-color: $color-blue-light;
	width: 40px;
	padding: 5px;
}

#saveBtn:enabled {
	color: $color-light;
	background-color: #123456;
	width: 50px;
	padding: 2px;
}

#cancelBtn:disabled {
	color: $color-blue-dark;
	background-color: $color-light;
	width: 100px;
	padding: 15px;
}

#cancelBtn:enabled {
	color: #000000;
	background-color: $color-white;
	width: 60px;
	padding: 1px;
}

#firstDivInRow {
	margin: 1px;
	padding: 3px;
	border: 4px $color-blue-dark;
	background-color: $color-light;
	@include borderRadiusDiv(7px);
}

#secondDivInRow {
	margin: 2px;
	padding: 5px;
	border: 3px dashed $color-blue-dark;
	background: url("https://p.bigstockphoto.com/GeFvQkBbSLaMdpKXF1Zv_bigstock-Aerial-View-Of-Blue-Lakes-And--227291596.jpg") repeat;
}

#thirdDivInRow {
	margin: 3px;
	padding: 7px;
	border: 1px dotted lightblue;
	background-image: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
}

#firstDivIn2Row {
	margin: 4px;
	padding: 8px;
	border: 7px double $color-blue-dark;
	transition: all 2s ease-in-out;
}

#firstDivIn2Row:hover {
	transform: translate(2px, 10px);
}

#secondDivIn2Row {
	margin: 3px;
	padding: 7px;
	border: 1px dotted $color-blue-dark;
	transition: all 2s ease-in-out;
}

#secondDivIn2Row:hover {
	transform: rotate(15deg);
}

#thirdDivIn2Row {
	margin: 3px;
	padding: 2px;
	border: 4px dashed $color-extra-extra-light;
	transition: all 2s ease-in-out;
}

#thirdDivIn2Row:hover {
	transform: scale(1.2);
}

#anotherDiv {
	transition: all 1s ease-in-out;
	margin: 3px;
	padding: 15px;
	border: 1px solid black;
	background: url("https://as.ftcdn.net/r/v1/pics/7b11b8176a3611dbfb25406156a6ef50cd3a5009/home/discover_collections/optimized/image-2019-10-11-11-36-27-681.jpg") center no-repeat;
	background-size: 100%;
	background-position-y: -50px;
	height: 300px;
	max-height: 300px;
	overflow: hidden;
}

#anotherDiv:hover {
	width: 60%;
	margin: 0 auto;
	background-position-y: 0;
	color: $color-white;
	text-shadow: black 2px 2px;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;

	&__image {
		margin: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: 200ms ease;
		width: 33%;
		height: 300px;
		object-fit: cover;

		@media (max-width: 767px) {
			width: 50%;
		}

		@media (max-width: 576px) {
			width: 100%;
		}


		& > * {
			opacity: 0;
		}

		&:hover > * {
			opacity: 1;
		}

		&__title {
			padding: 5px 14px;
			background: rgba(0, 0, 0, 0.5);
			color: white;
		}

		&__text {
			padding: 10px;
			background: rgba(0, 0, 0, 0.5);
			color: white;
			font-size: 14px;
		}

		&:first-child {
			background-image: url("../images/gallery-1.jpeg");

			&:hover {
				z-index: 200;
				transform: scale(1.4);
			}
		}

		&:nth-child(2) {
			background-image: url("../images/gallery-2.jpeg");

			&:hover {
				z-index: 200;
				transform: rotate(10deg);
			}
		}

		&:nth-child(3) {
			background-image: url("../images/gallery-3.jpeg");

			&:hover {
				background-image: url("../images/gallery-3-2.jpeg");
			}
		}

		&:nth-child(4) {
			background-image: url("../images/gallery-4.jpeg");
		}

		&:nth-child(5) {
			background-image: url("../images/gallery-5.jpeg");
		}

		&:nth-child(6) {
			background-image: url("../images/gallery-6.jpeg");
		}
	}
}

.div-class-0 {
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	display: inline-block;
	width: 100px;
	height: 100px;
}

.div-class-1 {
	@extend .div-class-0;
	background-color: red;
}

.div-class-2 {
	@extend .div-class-0;
	background-color: orange;
}

.div-class-3 {
	@extend .div-class-0;
	background-color: yellow;
}